@font-face {
    font-family: 'LiberationSans';
    src: url(fonts/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: 'LiberationSans-Bold';
    src: url(fonts/LiberationSans-Bold.ttf);
}

body {
    height: 100%;
    top: 0;
    /* Aligns the navbar to the top of the viewport */
}

section {
    margin-top: 60px;
    /* Adjust this value based on the height of your navbar */
}

.navbar {
    width: 80%;
    border: 2px solid black;
    font-family: 'LiberationSans', sans-serif;
    font-size: 18px;
    position: fixed;
    background: white;
    border-top: none;
    /* Removes the top border */
    z-index: 1000;
    /* Places the navbar on top of other elements */
}

/* .navbar-button {
    display: flex;
    justify-content: right;
    align-items: right;
} */

.navbar-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
}


.nav-item {
    border-radius: 5px;
}

.navbar-brand {
    flex-grow: 1;
}

.navbar .container-fluid>div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-item:hover {
    background-color: black;
}

.nav-link:hover {
    color: white;
}

.show {
    color: white !important;
}

.navbar-toggler {
    border-radius: 0px;
    border: 0mm;
}

.filler-div {
    height: 5px;
}

.hero-container {
    margin-top: 20px;
    margin-left: auto;
    /* Centers the container horizontally */
    margin-right: auto;
    /* Centers the container horizontally */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.hero-image {
    margin-right: 0;
    flex: 1;
}

.hero-text {
    flex: 1;
}

img.avatar {
    border-radius: 50%;
    max-width: 60%;
    /* height: auto; */
    border: 4px solid black;
    aspect-ratio: 1;
    object-fit: cover;

}

.avatarBorder {
    text-align: center;
    display: flex;
    justify-content: center;
    /* Align content to the end (right) */
    text-align: center;
}

h1 {
    font-size: 64px;
    font-family: 'LiberationSans-Bold', serif;
}

h3 {
    font-size: 30px;
    font-family: 'LiberationSans', sans-serif;
}

h4 {
    font-size: 24px;
    font-family: 'LiberationSans', sans-serif;
}

.hey-there {
    text-align: center;
}

.im-matthew {
    text-align: right;
}

.about-me-container {
    padding: 20px;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    padding: 10px;
    flex: 1;
    margin-top: 2%;
}

p {
    font-family: 'LiberationSans', sans-serif;
}

.horizontal-line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 1px;
    /* Line thickness */
    border: 0;
    /* Remove default border */

}

.width-80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'LiberationSans-Bold', serif;
    font-size: 50px;
    /* margin-left: 5%; */
}

.extra-padding {
    padding: 10px;
}

.recent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.recent-parent {
    padding-bottom: 20px;
}

/* General Form Styling */
.email-form {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'LiberationSans', sans-serif;
}

/* Style for Labels */
.email-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for Input Fields and Text Area */
.email-form input[type="text"],
.email-form input[type="email"],
.email-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Make sure padding doesn't increase the width */
}

/* Style for Text Area */
.email-form textarea {
    height: 100px;
    resize: vertical;
    /* Allows vertical resizing, not horizontal */
}

/* Style for the Submit Button */
.email-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.email-form button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* Responsive Design */
@media (max-width: 80%) {
    .email-form {
        width: 100%;
        padding: 15px;
    }
}


.contacts-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.contact {
    padding: 10px;
}

.bi {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.contact-me {
    font-size: 40px;
    margin: 0;
}

.copyright {
    text-align: center;
    margin: 0;
}

a {
    color: inherit;
    /* This makes the link color the same as the parent element */
    text-decoration: none;
    /* Optional: removes the underline from links */
}

.card-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 20px;
    padding: 20px;
}

.card {
    width: 40%px;
    border: 1px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:not(:hover) {
    transform: scale(1);
    box-shadow: none;
}

.card img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid #000000;
}

.card-content {
    padding: 0px 15px 15px 15px;
}

.card-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.card-content p {
    margin: 10px 0;
    color: #555;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    color: #333;
}

.img-card-container {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.about-me-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.static-text span {
    white-space: nowrap;
    display: inline-block;
    animation: typing 4s steps(1, end), blink-caret 0.75s step-end;
}

.static-text {
    margin-left: 3%;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}


.big-text {
    font-size: 48px;
    text-align: center;
}

#words {
    display: inline-block;
    padding: 10px;
}

.glass-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: fill;
}

.glass-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* min-height: 500px; */
    height: 90%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image-text-wrapper {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nyu-block {
    background-color: #57068c;
    width: 60%;
    max-width: 60%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* margin-top: 10%; */
}

.nyu-block:hover {
    background-color: #45057a;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.glass-text {
    color: white;
    font-size: 5.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.glass-hero-image {
    position: relative;
    height: 100vh;
    /* Make the hero image full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-below {
    text-align: center;
    margin-top: -95px;
    
}

.hidden {
    display: none;
    transition: opacity 2s;
    opacity: 0;
}

.glass-size {
    font-size: 24px;
}

.glass-windows {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    margin-bottom: 20px;
}

.glass-left {
    text-align: left;
    font-family: 'LiberationSans-Bold', sans-serif;
}

.glass-right {
    text-align: right;
    font-family: 'LiberationSans-Bold', sans-serif;
}

.width-80 {
    width: 80%;
}

.glass-windows h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.window-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.experience-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}